# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# ML Models
*.pkl
*.joblib
*.h5
*.pt
*.pth

# Dataset files
data/
datasets/

# Logs
logs/
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Mac/Linux system files
.DS_Store

# Windows system files
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# MLOps / DVC
.dvc/
dvc.lock

# Streamlit
.streamlit/secrets.toml